.example{
  width: 50%;
  margin: auto;
}

@media (max-width: 1200px){
  .example{
    width: 75%;
  }
}

@media (max-width: 800px){
  .example{
    width: 100%;
  }
}

.state-div{
  width: 30%;
  margin-left: 3.33333%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.example input{
  width: 100%;
}

.example > h1{
  margin-top: -5px;
  margin-bottom: 30px;
  text-align: center;
}

.nested{
  border-width: 1px;
  border-radius: 4px;
  border-color: #bbb;
  color: #999;
  border-style: solid;
  width: auto;
  margin-bottom: 15px;
  margin-right: -15px;
  margin-left: -15px;
  padding-left: 30px;
  padding-right: 30px;
}

.nested > .form-header {
  margin-bottom: 15px;
  margin-left: -15px;
  font-weight: bold;
}

.form-horizontal .has-feedback .form-control-feedback{
  right: 0px;
}

.example button{
  margin-top: 15px;
  margin-bottom: 0px;
}

.well{
  padding-bottom: 15px;
}
